@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
  background-color: rgb(17, 17, 17);
  margin: 0;
  box-sizing: border-box;
}

.tryButton{
  width: 10%;
  transition: 0.2s;
}
.tryButton:hover{
  width: 12%;
}

::-webkit-scrollbar {
  width: 2px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para la barra de desplazamiento vertical */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del relleno de la barra */
  border-radius: 6px; /* Radio de la esquina de la barra */
}

/* Estilos para la barra de desplazamiento horizontal */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #555; /* Color del relleno de la barra horizontal */
}

/* Estilos para el track (la parte que no está siendo desplazada) */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 20px/* Color de fondo del track */
}