@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body{
  background-color: rgb(17, 17, 17);
  margin: 0;
  box-sizing: border-box;
}

.tryButton{
  width: 10%;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 2px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para la barra de desplazamiento vertical */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del relleno de la barra */
  border-radius: 6px; /* Radio de la esquina de la barra */
}

/* Estilos para la barra de desplazamiento horizontal */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #555; /* Color del relleno de la barra horizontal */
}

/* Estilos para el track (la parte que no está siendo desplazada) */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 20px/* Color de fondo del track */
}

@media (min-width: 300px) {

  .textTitle{
    font-size: 4rem;
    font-weight: bold;
  }

  .textInfo{
    font-size: 1rem;
    text-align: center;
  }

}

/* You might do landscape phones here if your content seems to need it */
@media (min-width: 450px) {
}

/* Starting into tablets somewhere in here */
@media (min-width: 600px) {
}

/* Perhaps bigger tablets */
@media (min-width: 750px) {
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1100px) {
}

/* Widescreens */
@media (min-width: 1500px) {

  .textTitle{
    font-size: 10rem;
    font-weight: bold;
  }

  .textInfo{
    font-size: 1.5rem;
    text-align: center;
  }

}