  
  .reviewImage img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }

  .bottomWrapper{
    bottom: -10px;
    transform: translateY(90%);
    transition: 0.5s;
  }

  .topWrapper{
    transform: translateY(20px);
    transition: 0.5s;
  }
  
  .reviewWrapper {
    position: absolute; /* Absolute positioning within its parent */
    left: 0;
    gap: 20px;
    display: flex;
    backdrop-filter: blur(10px);
    background-color: #3f3f3fef;
    border: 2px solid white;
    box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.1);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Improved transition */
    z-index: 10; /* Set a higher z-index for layering */
    border-radius: 10px;
    transition: 0.3s;
  }

  .reviewWrapper h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }

  .reviewWrapper p{
    color: #d6d6d6;
    padding: 10px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
  }

  .reviewCard{
    position: relative; /* Necessary for child element positioning */
    display: flex;
    flex-basis: 22%;
    width: 22%;
    align-items: center;
    transition: transform 0.2s ease-in-out; /* Improved transition */
  }

  .reviewCard:hover .bottomWrapper{
    visibility: visible;
    opacity: 1;
    transform: translateY(100%); /* Remove unnecessary translateY */
  }

  .reviewCard:hover .topWrapper{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }