.wrapper{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    background-image: linear-gradient(to top, 
        rgba(0, 0, 0, 1), 
        transparent
    );
    transition: all 0.2s;
}

.infoBox p{
    font-size: 1rem;
    color: rgb(173, 173, 173);
}

.submitButton{
    position: relative;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to right top, #4700b9, #4d41d0, #5c68e2, #748cef, #94aff9);
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    transition: all 0.2s;

}

.submitButton:hover{
    opacity: 0.8;
}

@media (min-width: 300px) {

    #infoBox{
        position: absolute;
        z-index: 400;
        background-color: #1f1f1f;
    }

    .infoBox{
        display: flex;
      flex-direction: column;
      align-items: center;
      height: 100dvh;
    }
  
    .infoImage{
        position: relative;
      width: 100%;
      height: 30%;
      object-fit: cover;
      overflow: hidden;
    }

    .infoImage img{
        position: absolute;
        width: 100%;
        top: -50%;
    }

    .infoSection{
        position: relative;
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .infoSection h1{
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
  
  }
  
/* You might do landscape phones here if your content seems to need it */
@media (min-width: 450px) {
}

/* Starting into tablets somewhere in here */
@media (min-width: 600px) {
}

/* Perhaps bigger tablets */
@media (min-width: 750px) {
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
    .infoBox{
        position: relative;
        height: 70%;
        min-width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        border-radius: 20px;
        gap: 10px;
    }
    
    .infoSection{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
        padding: 30px;
        width: 50%;
    }
    
    .infoBox h1{
        font-size: 2.8rem;
        color: white;
        font-weight: bold;
    }
    
    .infoImage{
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        object-fit: contain;
        overflow: auto;
        justify-content: center;
    }
    
    .infoBox img{
        height: 100%;
        width: auto;
        box-shadow: 9px 10px 40px 0px rgba(0, 0, 0, 0.788);
        border-radius: 10px;
        position: relative;
        top: 0;
    }
    
    .submitButton{
        position: relative;
    }
    
    .reviewContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 30px;
        overflow: auto;
        background-color: #1f1f1f;
        border-radius: 20px;
      }
    
    .referenceButton{
        cursor: pointer;
    }
    
    #infoBox{
        animation: fadeIn 0.5s ease-in-out;
        position: absolute;
        background-color: transparent;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}